# Terraform
.terraform/
# .terraform.lock.hcl é commitado de propósito (trava versão dos providers)
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
